extends ../layout

block content
  h1= title
  div(role="main")
    table.table
      thead
        tr
          th #
          th 名前
          th メールアドレス
          th 年齢
      tbody
        - for (var i in content)
            tr
            - var obj = content[i];
            th #{obj.id}
            td #{obj.name}
            td #{obj.mail}
            td #{obj.age}